#demo {
	font-size: 50px;
	text-align: center;
}

#timer {
	border: blue solid 5px;
	border-radius: 10px;
	margin-left: 300px;
	margin-right: 300px;
}

#textarea1 {
	border: black solid 7.5px;
	padding-top: 10px;
