#timerjs {
	font-size: 50px;
	text-align: center;
	padding: 25px;
}

#timer {
	border: blue solid 5px;
	border-radius: 10px;
	margin-left: 300px;
	margin-right: 300px;
}

#textarea1 {
	padding-top: 50px;
	border: black solid 7.5px;
	padding-top: 10px;
