#timerjs {
	font-size: 75px;
	text-align: center;
}

#timer {
	size: 1000px;
}

#link {
	font-size: 100px;
	visibility: collapse;
}

#textarea1::first-child {
	font-size: 25px;
}

#fineprint {
	fornt-size: 2px;
}

#header1::first-child {
	text-align: center;
}
